<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>admin page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"> <img src="https://s.tmimgcdn.com/scr/1600x1000/212900/spoon-and-fork-restaurant-logo_212966-original.png" style="margin-left: 25%" height="70px" width="70px"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Food <span style="color: #e74c3c">Planet</span></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
         <a href="{% url 'logout' %}" class="btn btn-outline-success" type="submit" style="margin-left: 800px">LOGOUT</a>
      </form>
    </div>
  </div>
</nav>


    <div class="card-deck">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://a.cdn-hotels.com/gdcs/production141/d778/6b200721-9661-4680-aca2-d6e33ce46cf0.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Tables</h5>
    <p class="card-text"> To Add New Tables , Edite and Delete.</p>
    <a href="#" class="btn btn-primary">Open Page</a>
  </div>
</div>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://blog.addpointment.com/wp-content/uploads/2020/12/a-fine-dining-restaurant-table-that-is-reserved-scaled.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Reservation</h5>
    <p class="card-text">To Add New Reservation ,Delete and Edit.</p>
    <a href="#" class="btn btn-primary">Open Page</a>
  </div>
</div>
    <div class="card" >
  <img class="card-img-top" src="https://www.rewardsnetwork.com/wp-content/uploads/2016/09/RelationshipBuilding2.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Employee Management</h5>
    <p class="card-text">To Add New Employees ,Delete and Edit.</p>
    <a class="btn btn-primary" href={% url 'employee_management' %} >Open Page</a>
  </div>
</div>
</div>
</div>
</body>
   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</html>