<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employee page</title>
</head>
<body>
    <h1> hello {{ user.username }} your role is employee</h1>
<li class="nav-item">
     <a class="nav-link mr-3 " href="{% url 'logout' %}">LOGOUT</a>
 </li>
</body>
</html>