<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Multiple user login</title>
  </head>
  <body>
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                      <img src="https://s.tmimgcdn.com/scr/1600x1000/212900/spoon-and-fork-restaurant-logo_212966-original.png" style="margin-left: 25%" height="200px" width="200px">
                      <h1 style="font-size: 30px; text-align: center" >Welcome To Food
                          <span style="color: #e74c3c">
                              Planet
                          </span> </h1>
                  </div>
                  <label style="margin-left: 12%">Log in if you already have Employee number!</label>
                  <div class="form-group last mb-4">
                      <div ><button class="btn btn-pill text-white btn-block btn-primary"> <a style="text-decoration: none; color: white" href={% url 'login_view' %}> LOGIN </a> </button></div>
                  </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>